.post {
  background-color: #eee;
  display: flex;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.postImage {
  width: 8rem;
  height: 8rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
  border: solid 1px #eee;
  border-radius: 10px;
}
